<!-- Start Breadcrumbs -->
<div id="breadcrumbs">
    <a href="#">Home</a> &raquo;
    <a title="Portfolio" href="#">Gallery</a> &raquo;
    <span class="current">Items</span>
    <div class="clear"></div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Page Title -->
<div class="PageTitle">
    <h1>Editing item</h1>
    <%= link_to 'Edit', edit_item_path(@item) %> |
    <%= link_to 'Back', items_path %>
</div>
<!-- End Page Title -->
<!-- Start Content Wrapper -->
<div id="content_wrapper">
    <div class="box">
        <!-- View By Box -->
        <p id="notice"><%= notice %></p>
        <h2>
            <%= @item.title %>
        </h2>
        <p>
            <img style="float:left; margin:0 15px 10px 0" src="<%= @item.image %>" width="140" height="140" alt="" class="pic" />
        </p>
        <p>
            <%= @item.content %>
        </p>
        <div class="clear"></div>
    </div>
    <div class="box">
        <h2>Tags</h2>
        <%= join_tags(@item) %>
    </div>
    <div class="box">
        <h2>Comments</h2>
        <%= render :partial => "comments/comment",
                   :collection => @item.comments %>
    </div>
    <div class="box">
        <%= render "comments/form" %>
    </div>
</div>
<!-- End Content Wrapper -->